extends layout

block content
  video(id="bgvideo" autoplay loop muted) 
    source(src='images/mov.mp4')
  div(class="jumbotron" id="home")
   div(class="container")
     h1 Full Stack Web Development Specialization Capstone Project
     h2 by The Hong Kong University of Science and Technology
     p Default Collections are:
     ul       
       li '/colonies'
       li '/hives'
       li '/inspections'
       li '/reports'
       li '/sites'
       li '/tasks'
       
